html, body {
    width: 99%;
} 

body {
    background-color: #000; 
    font-family: 'Inter', sans-serif;
    color: #fff;
}

body a {
    text-decoration: none;
    color: #fff;
}

body::-webkit-scrollbar {
    display: none;
}

/* ################# HEADER ################ */

.header{
    height: 7%;
    border-bottom: 2px solid #6B9F36;
    margin: 0 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.header a::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #6B9F36;
    transform: scale(0);
    transition: transform 600ms;
    transform-origin: right;
    animation: fade-in 900ms;
}

.header a:hover::after {
    transform: scale(1);
    transform-origin: left;
}

.left {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left img {
    width: 80%;
    height: 80%;
}

.right {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 10%;
}


.choice {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connexion {
    width: 27%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3%;
}

/* ################## LOGIN ################## */

.popupLogin {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.boxLogin {
    background-color: #000;
    height: 70%;
    width: 25%;
    border: 4px solid #6B9F36;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.contentLogin {
    height: 100%;
    width: 100%;
    margin: 10%;
}

.contentLogin h2 {
    color:#FFF;
    font-size: 3rem;
    text-align: center;
    padding-top: 5%;
}

.btnContainer {
    position: relative;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #6B9F36;
    margin: 15% 0;
    top: 20px;
}

.btnContainer label {
    position: absolute;
    font-size: 1.3rem;
    transform: translateY(-50%);
    left: 2%;
    top: -15px;
}

.btnContainer input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 1rem;
    margin: 0 0 1% 1%;
}

.iconLogin {
    position: absolute;
    right: 5px;
    top: -20px;
}

.remember {
    height: 20%;
    width: 100%;
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
}

.remember input {
    margin-right: 3%;
    accent-color: #6B9F36;
    outline: none;
}


.remember label {
    font-size: 1.1rem;
    width: 100%;
}

.submit {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.submit button {
    height: 50%;
    width: 40%;
    background-color: transparent;
    color: #FFF;
    font-size: 1rem;
    border: 2px solid #6B9F36;
    border-radius: 2px;
    
}

.loginRegister {
    font-size: 1rem;
    text-align: center;
    padding-top: 5%;
}

.loginRegister a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid #6B9F36;
}

.leavePageLogin {
    height: 10%;
    width: 25%;
    display: flex;
    align-items: center;
    margin-top: 10%;
    cursor: pointer;
}

.leavePageLogin img {
    height: 40%;
    margin-right: 15%;
    animation: move-left-and-right 1s ease-in-out infinite;
    animation-play-state: running;
}
@keyframes move-left-and-right {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(3px);
    }
    100% {
      transform: translateX(0);
    }
  }

/* ################## REGISTER ################## */

.popupRegister {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.boxRegister {
    background-color: #000;
    height: 70%;
    width: 25%;
    border: 4px solid #6B9F36;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.contentRegister {
    height: 100%;
    width: 100%;
    margin: 10%;
}

.contentRegister h2 {
    color:#FFF;
    font-size: 3rem;
    text-align: center;
    padding-top: 5%;
}

.btnContainer {
    position: relative;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #6B9F36;
    margin: 15% 0;
    top: 20px;
}

.btnContainer label {
    position: absolute;
    font-size: 1.3rem;
    transform: translateY(-50%);
    left: 2%;
    top: -15px;
}

.btnContainer input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 1rem;
    margin: 0 0 1% 1%;
}

.iconRegister {
    position: absolute;
    right: 5px;
    top: -20px;
}

.userType {
    height: 20%;
    width: 100%;
    margin-left: 15%;
    display: flex;
}

.userType input {
    margin-right: 3%;
    accent-color: #6B9F36;
    outline: none;
}

.userChoice {
    height: 100%;
    width: 50%;
}

.quizzerChoice {
    height: 100%;
    width: 50%;
}

.submit {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.submit button {
    height: 50%;
    width: 40%;
    background-color: transparent;
    color: #FFF;
    font-size: 1rem;
    border: 2px solid #6B9F36;
    border-radius: 2px;
    
}

.registerLogin {
    font-size: 1rem;
    text-align: center;
}

.registerLogin a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid #6B9F36;
}

.leavePageRegister {
    height: 10%;
    width: 25%;
    display: flex;
    align-items: center;
    margin-top: 5%;
    cursor: pointer;
}

.leavePageRegister img {
    height: 40%;
    margin-right: 15%;
    animation: move-left-and-right 1s ease-in-out infinite;
    animation-play-state: running;
}
@keyframes move-left-and-right {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(3px);
    }
    100% {
      transform: translateX(0);
    }
  }



/* ################# CONTENT ################ */

.content {
    height: 100%;
    width: 100%;
}

/* ################# POPULAIRE ################ */

.firstContainer {
    height: 30%;
    display: flex;
    margin: 3%;
}

.populaires {
    height: 100%;
    width: 65%;
}

.titlePopulaires {
    height: 11%;
    width: 16.5%;
    border-bottom: 2px solid #6B9F36;
}

.titlePopulaires h2 {
    margin: 0 5%;
}

.affichesPopulaires {
    height: 89%;
    width: 90%;
    display: flex;
}

.affichePopulaire {
    height: 18rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagePopulaire {
    background-color: white;
    height: 80%;
    width: 90%;
    margin: 10% 6% 0 0;
}

.namePopulaire {
    margin-top: 3%;
}

/* ################# SEARCH ################ */

.search {
    height: 100%;
    width: 35%;
    display: flex;
}

.filter {
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
}
/* ################# FILTER ################ */

.viewFilter {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    cursor: pointer;
}

.leftFilter {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textFilter {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.textFilter span{
    font-size: 20px;
}

.arrowFilter {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.arrowFilter img {
    height: 100%;
    animation: move-up-and-down 1s ease-in-out infinite;
    animation-play-state: paused;
  }

  @keyframes move-up-and-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(0);
    }
  }


.viewFilter:hover .arrowFilter img {
    animation-play-state: running;
}

.rightFilter {
    height: 100%;
    width: 40%;
}

.rightFilter img{
    height: 40%;
}

/* ################# POP UP FILTER ################ */

.filterOptions {
    height: 75%;
    font-size: 20px;
    z-index: 99;
    visibility: hidden;
}

/* .viewFilter:hover .filterOptions {
    visibility: visible;
} */


.themeFilter {
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
}

.filterOptions span {
    cursor: pointer;
}

.filterOptions img {
    cursor: pointer;
}

.textTheme {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #6B9F36 ;
}

.arrowTheme {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
}

.arrowTheme img {
    height: 100%;
}

.levelFilter {
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
}

.textLevel {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #6B9F36 ;
}

.arrowLevel {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
}

.arrowLevel img {
    height: 100%;
}

.lengthFilter {
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
}

.textLength {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #6B9F36 ;
}

.arrowLength {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
}

.arrowLength img {
    height: 100%;
}


.navBarre {
    width: 80%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 0 0 10%;
    border-bottom: 2px solid #6B9F36;
    position: relative;
}

.textNavBarre input {
    position: absolute;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 19px;
    margin: -4% 3%;
    z-index: 99;
}


/* ################# THEME ################ */

.secondContainer {
    height: 30%;
    display: flex;
    margin: 3%;
}

.themeContainer {
    height: 100%;
    width: 100%;
}

.titleTheme {
    height: 11%;
    width: 6.5%;
    border-bottom: 2px solid #6B9F36;
}

.titleTheme h2 {
    margin: 0 5%;
}

.affichesThemes {
    height: 89%;
    width: 100%;
    display: flex;
    padding-left: .3%;
}

.afficheTheme {
    height: 15.7rem;
    width: 10.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    padding: 1% 1.2% 0 0;
}

.imageTheme {
    background-color: white;
    height: 100%;
    width: 100%;
}

.nameTheme {
    margin-top: 3%;
}

/* ################# BEGINNER ################ */

.thirdContainer {
    height: 30%;
    display: flex;
    margin: 3%;
}

.beginnerContainer {
    height: 100%;
    width: 100%;
}

.titleBeginner {
    height: 11%;
    width: 9.5%;
    border-bottom: 2px solid #6B9F36;
}

.titleBeginner h2 {
    margin: 0 5%;
}

.affichesBeginners {
    height: 89%;
    width: 100%;
    display: flex;
    padding-left: .3%;
}

.afficheBeginner {
    height: 15.7rem;
    width: 10.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    padding: 1% 1.2% 0 0;
}

.imageBeginner {
    background-color: white;
    height: 100%;
    width: 100%;
}

.nameBeginner {
    margin-top: 3%;
}

/* ################# RELEASE ################ */

.fourthContainer {
    height: 30%;
    display: flex;
    margin: 3%;
}

.releaseContainer {
    height: 100%;
    width: 100%;
}

.titleRelease {
    height: 11%;
    width: 17.3%;
    border-bottom: 2px solid #6B9F36;
}

.titleRelease h2 {
    margin: 0 5%;
}

.affichesReleases {
    height: 89%;
    width: 100%;
    display: flex;
    padding-left: .3%;
}

.afficheRelease {
    height: 15.7rem;
    width: 10.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    padding: 1% 1.2% 0 0;
}

.imageRelease {
    background-color: white;
    height: 100%;
    width: 100%;
}

.nameRelease {
    margin-top: 3%;
}

/* ################# NEXT ################ */

.next {
    height: 10%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.boxNext {
    height: 100%;
    width: 10%;
}

.nextText {
    height: 50%;
    display: flex;
    justify-content: center;
}

.nextImage {
    height: 50%;
    display: flex;
    justify-content: center;
}

.nextImage img {
    height: 100%;
    animation: move-up-and-down 1s ease-in-out infinite;
    animation-play-state: paused;
}

@keyframes move-up-and-down {
0% {
    transform: translateY(0);
}
50% {
    transform: translateY(3px);
}
100% {
    transform: translateY(0);
}
}

.next:hover {
    cursor: pointer;
}


.next:hover .nextImage img {
    animation-play-state: running;
}

/* ################# FOOTER ################ */

.footer{
    height: 7%;
    border-top: 2px solid #6B9F36;
    margin: 0 3%;
    padding-bottom: 7%;
}